.title__container {
    @include flex-center;

    margin: 3rem 0;

    position: relative;

    h1 {
        @include border-radius;

        text-transform: uppercase;
        text-align: center;

        font-weight: bolder;
        font-size: calc(2vmin + 10px);
        box-shadow: 2px 2px rgb(253 45 1);
        background: $color-6;

        // background-color: $color-5;
        // background: linear-gradient(to top left, #FD2D01, #FFFFFF);
        // background: -webkit-linear-gradient(bottom right, #FD2D01, #FFFFFF);
        // background: -moz-linear-gradient(bottom right, #FD2D01, #FFFFFF);
        color: #000000;

        width: 18em;
        padding: 1.5rem 0;
    }
}