.title__container {
    @include flex-center;

    margin: 3rem 0;

    position: relative;

    h1 {
        @include border-radius;

        text-transform: uppercase;
        text-align: center;

        background-color: $color-5;
        color: $color-4;

        width: 18em;
        padding: 1.5rem 0;
    }
}