.form__card__container {

    @include flex-center;
    flex-direction: column;
    position: relative;


    .card__post {
        @include border-radius;
        @include flex-center;
        flex-direction: column;   
        
        position: relative;

        margin-bottom: 2.5rem;

        background-color: $color-6;

        p {
            @include border-radius;
            padding: .8em;
            font-size: large;
            background-color: $color-5;
            text-align: justify;

            
        }
        // .card__comment__container {
            
            .card__comment {
                @include border-radius;
                // @include flex-center;
                
                background-color: $color-3;
                color: $color-4;

                display: flex;

                p{
                    max-width: 90%;
                }
            }
        // }
    }
}