.form__card__container {

    @include flex-center;
    flex-direction: column;
    position: relative;


    .card__post {
        @include border-radius;
        @include flex-center;
        flex-direction: column;

        position: relative;

        margin-bottom: 2.5rem;

        background-color: $color-6;

        p {
            @include border-radius;
            padding: .8em;
            font-size: large;
            background-color: $color-5;
            text-align: justify;


        }

        // .card__comment__container {

        .card__comment {
            @include border-radius;
            // @include flex-center;

            background-color: $color-3;
            color: $color-4;

            display: flex;

            p {
                max-width: 90%;
            }
        }

        // }
    }
}

h2 {
    @include border-radius;

    // text-transform: uppercase;
    text-align: center;

    font-weight: bolder;
    font-size: calc(1.2vmin + 15px);

    box-shadow: 2px 2px rgb(253 45 1);
    background: $color-6;

    // background-color: $color-5;
    // background: $color-2;
    // background: linear-gradient(to top left, #FD2D01, #FFFFFF);
    // background: -webkit-linear-gradient(bottom right, #FD2D01, #FFFFFF);
    // background: -moz-linear-gradient(bottom right, #FD2D01, #FFFFFF);
    color: #000000;

    // width: 18em;
    margin: 0 4rem 2rem 4rem;
    padding: 1.5rem 1rem;
}

.test {

    @include tel {
        background: red;
    }
}