//all @keyframes

//page wrapper 

//anim btn
@-webkit-keyframes pulse {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes pulse {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes spooky {
    from {
      transform: translatey(.15em) scaley(.95);
    }
    
    to {
      transform: translatey(-.15em);
    }
  }

