.btn {
    @include btn;

    &:hover {
        @include btn-hover;

    }

    &:active {
        @include btn-active;

    }


}

.btn-home-container {
    // width: 15vw;
    // position: relative;

    // @include border;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1em 0 2rem 1em;

    animation: spooky 1s alternate infinite linear;

}

.btn-go-post {
    min-width: 15vw;
    padding: 1rem 1.5rem;
    position: fixed;
    top: 35rem;
    right: 1em;

    z-index: 10;

    border: solid 1px $color-2;

    transition: $duration;
    
    @include tel {
        padding: 1.5rem 2rem;
    }
}

.btn-go-comment {

    position: absolute;
    bottom: .5em;
    right: .5em;
}

.btn-profile{
    @include tablette {
        font-size: calc(1vmin + 15px);
        padding: 1.2rem 5rem;
    }
    @include tel {
        font-size: calc(1vmin + 10px);
    }
}