.card__container {


    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .container {

        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: .5em;

        width: 55vw;

        background-color: #b4c5e4;

        .container__top {

            border-radius: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            width: 100%;
            padding: .5em;
            gap: .3em;

            font-size: calc(1vmin + 10px);
            font-weight: bold;

            .author {

                border-radius: 20px;

                text-align: center;
                padding: .5em;

                background-color: #d9e2f2;
                box-shadow: 2px 2px rgb(94, 94, 94);
            }

            .date {

                border-radius: 20px;
                text-align: center;
                padding: .5em;
                background-color: #d9e2f2;
                box-shadow: 2px 2px rgb(94, 94, 94);
            }

            .hour {

                border-radius: 20px;
                text-align: center;
                padding: .5em;
            }
        }

        .container__content {

            border-radius: 20px;
            // @include flex-center;
            flex-direction: column;
            width: 80%;
            margin: .5em 0;
            box-shadow: 2px 2px rgb(94, 94, 94);

            .content {

                border-radius: 20px;
                margin: .5em 0.2em;
                padding: .5em;

                font-size: calc(1vmin + 10px);
                background-color: #d9e2f2;
                box-shadow: 2px 2px rgb(94, 94, 94);
            }

            .btn {
                // margin: .5em;
                position: sticky;
                // top:0px;
                // right: 0px;

            }

        }

    }

}