.card__container {
    @include border;
    @include flex-center;
    position: relative;

    .container {
        @include border;
        @include border-radius;
        @include flex-center;
        flex-direction: column;
        margin: .5em;

        width: 55vw;

        background-color: $color-5;

        .container__top {
            @include border;
            @include border-radius;
            display: flex;
            justify-content: space-around;
            align-items: center;

            width: 100%;
            padding: .5em;
            gap: .3em;

            font-size: calc(1vmin + 10px);
            font-weight: bold;

            .author {
                @include border;
                @include border-radius;
                
                text-align: center;
                padding: .5em;

                background-color: $color-6;
            }

            .date {
                @include border;
                @include border-radius;
                text-align: center;
                padding: .5em;
                background-color: $color-6;
            }

            .hour {
                @include border;
                @include border-radius;
                text-align: center;
                padding: .5em;
            }
        }

        .container__content {
            @include border;
            @include border-radius;
            // @include flex-center;
            flex-direction: column;
            width: 80%;
            margin: .5em 0;

            .content {
                @include border;
                @include border-radius;
                margin: .5em 0.2em;
                padding: .5em;

                font-size: calc(1vmin + 10px);
                background-color: $color-6;
            }

            .btn {
                // margin: .5em;
                position: sticky;
                // top:0px;
                // right: 0px;
                
            }

        }

    }

}